In [5]:
!pip install pymysql

import os
import pymysql
import pandas as pd

conn = pymysql.connect(
    host="database",
    port=int(3306),
    user="root",
    passwd="C0mp4ny",
    db="neurotech",
    charset='utf8mb4')

query = "SELECT * FROM cons limit 10"
df = pd.read_sql_query(query, conn)

df.tail(10)

Requirement already satisfied: pymysql in /opt/conda/lib/python3.9/site-packages (1.0.2)

,id_evento,id_plano,faixa_etaria,sexo,cod_municipio,porte,nome_modalidade,UF,tempo_permanencia,ano_evento,mes_evento,cod_carater_atendimento,cod_tipo,regime_internacao,motivo_saida,cid,diarias_uti
0,2197990674,214970,30 a 39,F,530010,GRANDE,Autogestão,DF,1,2019,1,1,1,1,12,Z411,0
1,2198015467,214970,30 a 39,F,291470,GRANDE,Autogestão,BA,1,2019,1,2,1,1,12,None,0
2,2198021575,214968,50 a 59,F,530010,GRANDE,Autogestão,DF,1,2019,1,1,1,1,12,Z411,0
3,2198026323,214970,40 a 49,F,292740,GRANDE,Autogestão,BA,1,2019,1,1,2,1,11,K80,0
4,2198034378,214970,10 a 14,M,292740,GRANDE,Autogestão,BA,2,2019,1,2,1,1,12,R11,0
5,2198034698,214970,30 a 39,F,292740,GRANDE,Autogestão,BA,1,2019,1,1,1,1,15,Z001,0
6,2198059988,214968,50 a 59,F,520870,GRANDE,Autogestão,GO,1,2019,1,1,2,2,12,H023,0
7,2198091773,214970,20 a 29,F,211130,GRANDE,Autogestão,MA,1,2019,1,2,1,1,51,A09,0
8,2198121389,214968,5 a 9,M,320150,GRANDE,Autogestão,ES,1,2019,1,1,2,1,12,None,0
9,2198134229,214970,30 a 39,F,530010,GRANDE,Autogestão,DF,1,2019,1,1,1,1,12,Z411,0